*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000500;
}

.galeria{

    width: 100%;

}

img{
    vertical-align: top;
    width: 400px;
    margin: 20px;
    padding: 5px;
    border: 2px solid #484848;
    opacity: .5;
}

img:hover{
    opacity: 1;
    border: 2px solid #fff;
}