
body{
    font-family: Arial,Sans-serif;
    background: #e8e8e8;
}

.menu{
    list-style: none;
    padding: 0;
    width: 90%;
    background: #4357ad;
    max-width: 1000px;
    margin: 20px auto;
}

li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.menu li a:hover{
    background: #000;
}
